body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.statistics {
  display: inline-flex;
  margin-bottom: 5px;
  margin-top: 0;
}

.ui.header {
  padding-top: 10px;
}

.ui.statistics>.statistic {
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.ui.statistic+.ui.statistic {
    margin-left: 0.7em;
    margin-right: 0.7em;
}
